---
title: "Heloo wrld"
layout: "default"
isPage: true
--- 

.pure-u-1-3.bkg-color-1
  h2.bkg-color-0
    | HHHHHH
  p
    | Борис Гребенщиков написал песню против войны. Основатель «Аквариума» 3 марта выложил запись «Любовь во время войны» в своем канале на YouTube.

    анее, 2 марта, музыкант обратился к российским властям с просьбой решать проблемы мирным путем и искать решение, которое позволит избежать гибели людей.
.pure-u-2-3.bkg-color-2
  h2.bkg-color-4
    | YYYYYYYY
  p
    | Отстраненный от власти президент Украины Виктор Янукович попросил президента РФ Владимира Путина использовать российские войска для защиты населения Украины и стабильности в стране. Об этом объявил 4 марта постпред РФ при ООН Виталий Чуркин на экстренном заседании Совбеза ООН, созванном по инициативе России.

.pure-u-2-3.bkg-color-2
  h2.bkg-color-4
    | Files
  each file in getDocument().getAssociatedFiles().toJSON()
    img(src=file.url)